main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Главная
        div.btn-toolbar.mb-2.mb-md-0
            div.btn-group.me-2
                button.btn.btn-sm.btn-outline-secondary(type='button') Добавить
                button.btn.btn-sm.btn-outline-secondary(type='button') Скачать
    canvas#myChart.my-4.w-80(width='300', height='140')
    h2 Данные
    div.row.gy-5
        div.table-responsive.col-sm-6.col-md-8
                table.table.table-striped
                    thead
                        tr
                            th #
                            th Данные
                            th Координаты
                    tbody
                        tr
                            td 1
                            td 
                                input.form-control-sm(type="text") 
                            td 
                                input.form-control-sm(type="text")
                        tr
                            td 2
                            td 
                                input.form-control-sm(type="text") 
                            td 
                                input.form-control-sm(type="text")
                        
        div.col-6.col-md-4
            label.form-label TEST 